#SignInUp,#RetrievePassword
{
    -fx-background-image: url("../../image/Background.jpg");
    -fx-background-position: center;
}

#title
{
    -fx-background-color: #f8f3eb;
    -fx-opacity: 0.5;
}

#minimize:hover
{
    -fx-opacity: 1;
    -fx-background-radius: 10px;
    -fx-background-color: #323232;
    -fx-text-fill: #ffffff;
}

#close:hover
{
    -fx-opacity: 1;
    -fx-background-radius: 10px;
    -fx-background-color: #dd2c00;
    -fx-text-fill: #ffffff;
}

