#mainWindow
{
    -fx-background-color: #ffffff;
    -fx-opacity: 0.6;
    -fx-background-radius: 35px;
}

#cellphone,#code,#password1,#password2
{
    -fx-background-radius: 20px;
}

#returnArrow
{
    -fx-background-color: #ffffff;
    -fx-opacity: 0.1;
}

#returnArrow:hover
{
    -fx-opacity: 1;
    -fx-background-radius: 10px;
    -fx-background-color: #323232;
    -fx-text-fill: #ffffff;
}

#reset,#getCode
{
    -fx-background-radius: 20px;
    -fx-background-color: #3282b8;
}

#reset:hover,#getCode:hover
{
    -fx-background-color: #ffac41;
}