#mainWindow
{
    -fx-background-color: #ffffff;
    -fx-opacity: 0.6;
    -fx-background-radius: 30px;
}

#cellphone,#password
{
    -fx-background-radius: 25px;
}

#signInUp,#retrievePassword
{
    -fx-background-radius: 25px;
    -fx-background-color: #3282b8;
}

#signInUp:hover,#retrievePassword:hover
{
    -fx-background-color: #ffac41;
}

