.root {
    -fx-background-color:#ececec;
    -fx-opacity: 0.9;
}

#button
{
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-background-color: #3282b8;
}

#button:hover
{
    -fx-background-color: #ffac41;
}

